@model SODERIA_I.Models.Compra

@{
    ViewData["Title"] = "Borrar";
}

<div class="container m-3">
    <!-- Agregué mb-5 para margen inferior -->
    <h1>Eliminar</h1>
    <h5>¿Desea eliminar la compra?</h5>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <!-- Campo Nombre Completo del Cliente -->
            <div class="form-group mb-3">
                <label asp-for="ClienteNombre" class="control-label">Cliente que realizó la compra</label>
                <input asp-for="ClienteNombre" class="form-control" readonly />
            </div>
            <!-- Campo Fecha -->
            <div class="form-group mb-3">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" readonly />
            </div>

            <!-- Campo Cliente -->
            <div class="form-group mb-3">
                <label asp-for="cliente" class="control-label"></label>
                <input asp-for="cliente.apellido" class="form-control" readonly />
            </div>

            <!-- Campo Tipo de Compra -->
            <div class="form-group mb-3">
                <label asp-for="TipoCompraId" class="control-label"></label>
                <input asp-for="TipoCompraId" class="form-control" readonly />
            </div>

            <!-- Campo Cantidad -->
            <div class="form-group mb-3">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" readonly />
            </div>

            <!-- Campo Monto -->
            <div class="form-group mb-3">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" readonly />
            </div>

            <hr />

            <!-- Formulario para confirmar la eliminación -->
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                <hr />
            </form>
        </div>
    </div>
</div>