@model SODERIA_I.Models.Compra

@{
    ViewData["Title"] = "Detalles";
}

<div class="container mb-5 m-3">
    <!-- Agregué mb-5 para margen inferior -->
    <h1>Detalles de la compra</h1>
    <h5>Información de la compra</h5>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <!-- Campo Fecha -->
            <div class="form-group mb-3">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" readonly />
            </div>

            <!-- Campo Tipo de Compra -->
            <div class="form-group mb-3">
                <label asp-for="TipoCompraId" class="control-label"></label>
                <input asp-for="TipoCompraId" class="form-control" readonly />
            </div>

            <!-- Campo Cantidad -->
            <div class="form-group mb-3">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" readonly />
            </div>

            <!-- Campo Monto -->
            <div class="form-group mb-3">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" readonly />
            </div>

            <!-- Campo Nombre Completo del Cliente -->
            <div class="form-group mb-3">
                <label asp-for="ClienteNombre" class="control-label"></label>
                <input asp-for="ClienteNombre" class="form-control" readonly />
            </div>

            <hr />

            <!-- Botones de acciones -->
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                <hr />
            </div>
        </div>
    </div>
</div>