@model SODERIA_I.Models.Cliente

@{
    ViewData["Title"] = "Detalles";
}

<div class="container m-3 mb-5">
    <!-- Agregué mb-5 para margen inferior -->
    <h1>Detalles del cliente</h1>
    <h5>Información del cliente</h5>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="zona" class="control-label"></label>
                <input asp-for="zona" class="form-control" readonly />
            </div>

            <div class="form-group mb-3">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" readonly />
            </div>

            <div class="form-group mb-3">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" readonly />
            </div>

            <div class="form-group mb-3">
                <label for="Telefono" class="control-label">Teléfono</label>
                <input type="text" class="form-control" id="Telefono" name="Telefono" value="@Model.Telefono" readonly>
            </div>

            <hr />

            <!-- Botones de acciones -->
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                <hr />
            </div>
        </div>
    </div>
</div>